bin
obj
csx
.vs
edge
Publish
.python_packages
*.user
*.suo
*.cscfg
*.Cache
project.lock.json
/func_env
/packages
/TestResults
.vscode
/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json
__pycache__
node_modules